{% extends "base.html" %}

{% block title %}Catálogo - MasquePulpa{% endblock %}

{% block content %}
<main class="px-4 py-8 max-w-7xl mx-auto">
  <h2 class="text-3xl font-bold text-[#1c1c0d] mb-6">Nuestros productos</h2>

  <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

    <!-- Producto 1 -->
    <div class="product-card group">
      <img src="{{ url_for('static', filename='images/JugoMandarina.png') }}"
           alt="Jugo de Mandarina"
           class="product-img" />
      <div class="p-4">
        <h3 class="product-title">Jugo de Mandarina</h3>
        <p class="product-price">$120.00</p>
      </div>
    </div>

    <!-- Producto 2 -->
    <div class="product-card group">
      <img src="{{ url_for('static', filename='images/JugoToronja.jpg') }}"
           alt="Pulpa de Toronja"
           class="product-img" />
      <div class="p-4">
        <h3 class="product-title">Jugo de Toronja</h3>
        <p class="product-price">$130.00</p>
      </div>
    </div>

  </div>
</main>
{% endblock %}


